.containerTeacherViewRanking {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  background-color: white;
  background-image: url("../../assets/background.png");
  box-sizing: border-box;
}

.mainTeacherViewRanking {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 1043px;
  max-height: 563px;
}

.infoRanking {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px;
  width: 100%;
}

.buttonStartPause{
  font-size: 20px;
  width: 280px;
  padding: 10px;
  font-weight: bold;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-items: center;
  gap: 10px
}

.buttonStartPause.start{
  background-color: #2E9DF4;
  border-radius: 20px;
  border: solid 5px #000D61;
}

.buttonStartPause.pause {
  background-color:#F14C4C;
  border-radius: 20px;
  border: solid 5px #570000;
}

.playIcon {
  color: green;
}

.codTurma {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #1D1D1D;
  font-size: 25px;
  gap: 16px;
  padding: 10px;
  width: 400px;
  height: 80px;
  border: 5px solid #1D1D1D;
  border-radius: 20px;
  box-shadow: #000000 8px 8px;
}

.codTurma strong {
  font-weight: bold;
}

.timerInit{
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: #1D1D1D;
  font-size: 20px;
  margin-right: 10px;
  padding: 10px;
  width: 600px;
  height: 80px;
  border: 5px solid #1D1D1D;
  border-radius: 20px;
  box-shadow: #000000 8px 8px;
}

.viewRankingTimer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-items: center;
  gap: 16px;
  font-size: 35px;
  font-weight: 500;
}


.viewRanking{
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: flex-start;
  color: #000000;
  width: 100%;
  margin-top: 25px;
  padding: 10px;
  padding-left: 20px;
  border: #000000 5px solid;
  border-radius: 20px;
}

.cardTeams{
  display: flex;
  flex-direction: row;
  height: 95px;
  width: 100%;
  margin-top: 10px;
  gap: 10px;
}

.loading-message {
  text-align: center;
  padding: 20px;
  font-size: 1.2em;
}

.error-message {
  text-align: center;
  padding: 20px;
  color: #ff0000;
  font-size: 1.2em;
}
