.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  background-color: white;
}

.logo {
  margin-bottom: 15px;
  height: 140px;
  width: 668px;
}
