.containerLoginScreen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  background-color: #ffffff;
  box-sizing: border-box;
  background-image: url("../../assets/background.png");
}

.headerLoginScreen {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
}

.headerLoginScreen .arrowIcon {
  position: absolute;
  left: 70px;
  top: 10%;
  transform: translateY(-50%);
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}

.headerLoginScreen .arrowIcon:hover {
  transform: scale(1.2) translateY(-50%);
}

.headerLoginScreen .logoLoginScreen {
  width: 350px;
  height: 71.89px;
}

.mainLoginScreen {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
  width: 100%;
}

.formLoginScreen {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 554px;
  max-width: 90%;
  padding: 30px;
  background: transparent;
  border: none; 
  box-shadow: none;
  box-sizing: border-box;
}

.buttonLoginScreen {
  width: 100%;
  padding: 15px;
  margin-top: 20px;
  background-color: #13BB0A;
  color: #00570A;
  border: 5px solid #00570A;
  border-radius: 20px;
  font-family: 'Fredoka', sans-serif;
  font-size: 32px;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 8px 6px 0px rgba(0, 0, 0, 1);
  text-transform: uppercase;
  transition: transform 0.2s ease-in-out;
  text-align: center;
}

.buttonLoginScreen:hover {
  transform: scale(1.05);
}

.registerLinkLoginScreen {
  margin-top: 20px;
  color: #1D1D1D;
  font-size: 24px;
  text-decoration: underline;
  font-family: 'Fredoka', sans-serif;
  cursor: pointer;
  font-weight: 600;
}

.registerLinkLoginScreen:hover {
  transform: scale(1.03);
}

.formLoginScreen h2 {
  margin: 40px 0; 
  font-size: 32px; 
  font-family: 'Fredoka', sans-serif;
  font-weight: bold;
  line-height: 39px;
  color: #1D1D1D;
}
