.containerEnterRoomScreen {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  background-color: white;
  background-image: url("../../assets/background.png");
  box-sizing: border-box;
}

.headerEnterRoomScreen{
  margin-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
}

.headerEnterRoomScreen .arrowIcon {
  position: absolute;
  left: 70px;
  top: 10%;
  transform: translateY(-50%);
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}

.headerEnterRoomScreen .arrowIcon:hover {
  transform: scale(1.2) translateY(-50%);
}

.logoEnterRoomScreen{
  width: 350px;
  height: 71.89px;
}

.mainEnterRoomScreen{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
  width: 100%;
}

.mainEnterRoomScreen h2{
  font-weight: 500;
  font-size: 32px;
  color: #1D1D1D;
}

.inputEnterRoomScreen {
  border:  3px solid #1D1D1D; 
  border-radius: 20px;
  width: 553px;
  height: 80px;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 35px;
  padding: 20px;
  margin-bottom: 44px;
  margin-top: 20px;
}

.inputEnterRoomScreen {
  outline: none;
}

.EnterRoomButton{
  padding: 10px 40px;
  margin-top: 15px;
  background-color: #13BB0A;
  color: #00570A;
  border: 5px solid #00570A;
  border-radius: 20px;
  width: 553px;
  font-family: 'Fredoka', sans-serif;
  font-size: 30px;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 8px 6px 0px rgba(0, 0, 0, 1);
  text-transform: uppercase;
  transition: transform 0.2s ease;
}

.EnterRoomButton:hover{
  transform: scale(1.05);
}

.EnterRoomButton:active{
  transform: scale(1);
  box-shadow: none;
}