.containerSelectTeamScreen{
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  background-color: #f9f9f9;
}

.headerSelectTeamScreen{
  margin-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
}

.headerSelectTeamScreen .arrowIcon {
  position: absolute;
  left: 70px;
  top: 10%;
  transform: translateY(-50%);
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}

.headerSelectTeamScreen .arrowIcon:hover {
  transform: scale(1.2) translateY(-50%);
}

.logo{
  margin-top: 60px;
  display: flex;
  justify-content: center;
  align-items: flex-start;

  width: 100%;
}

.logoSelectTeamScreen{
  width: 350px;
  height: 71.89px;
}

.mainSelectTeamScreen{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
  width: 100%;
}

.mainSelectTeamScreen h2 {
    font-weight: 500;
    font-size: 32px;
    color: #1D1D1D;
}

.selectTeam {
  padding: 15px 15px;
  border: 3px solid #1D1D1D;
  border-radius: 10px;
  width: 553px;
  height: 80px;
  font-size: 25px;
  cursor: pointer;
  margin-bottom: 40px;
}

.optionTeamSelection {
  padding: 15px 15px;
  border: 3px solid #1D1D1D;
  border-radius: 10px;
  width: 553px;
  height: 80px;
  font-size: 25px;
  cursor: pointer;
}

.SelectTeamButton{
  padding: 10px 40px;
  margin-top: 15px;
  background-color: #13BB0A;
  color: #00570A;
  border: 5px solid #00570A;
  border-radius: 20px;
  width: 553px;
  font-family: 'Fredoka', sans-serif;
  font-size: 30px;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 8px 6px 0px rgba(0, 0, 0, 1);
  text-transform: uppercase;
  transition: transform 0.2s ease;
}

.SelectTeamButton:hover{
  transform: scale(1.1);
}

.SelectTeamButton:active{
  transform: scale(1);
  box-shadow: none;
}